.fs-underline {
  padding: 0 8px;
  border-bottom: 1px solid #eeeeee;
}

.fs-underline-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ant-form-item-control {
  .fs-underline {
    height: 30px;
  }
}